html {
    scroll-behavior: smooth;
}

.poppins { font-family: "Poppins", sans-serif; }
.jost { font-family: "Jost", sans-serif; }

.baloo-bhai {
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
}

@media only screen and (max-width:768px) {

    #list {
        height: 100% !important;
        width: -webkit-fill-available !important;
    }
}





.card1 {
    display: flex;
    position: relative;
    /* background-color: #0f172a; */
    /* border-radius: 4px; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #374151;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before {
    transform: scale(21);
}

.card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 1);
}










.heart-container {
    --heart-color: rgb(255, 91, 137);
    position: relative;
    width: 20px;
    height: 20px;
    transition: .3s;
}

.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
}

.heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
}

.heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
}

@keyframes keyframes-svg-filled {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
        filter: brightness(1.5);
    }
}

@keyframes keyframes-svg-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        filter: brightness(1.5);
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
        display: none;
    }
}

@media only screen and (max-width:420px) {
    .companies {
        grid-template-columns: 1fr !important;
    }
}




/* ------------- Toastify Container -------------- */
.custom-toast-container .Toastify__toast {
    background-color: #4A5568 !important;
    color: #ffffff !important;
}

.custom-toast-container .Toastify__progress-bar {
    background-color: #ffffff !important;
}







/* ------------- Input File Drag and Drop ---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-file {
    font-size: 5rem;
}

#drop-area {
    width: 100%;
    height: 300px;
    padding: 30px;
    text-align: center;
}

#img-view {
    width: 100%;
    height: 100%;
    border: 2px dashed #3b82f6;
    background-position: center;
    background-size: cover;
}

#img-view img {
    width: 130px;
    margin-top: 25px;
}

#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
}






/* ------- Light Mode (Default) ----------------- */
.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
}

/* ------- Dark Mode Fix ----------------- */

.dark .scrollbar::-webkit-scrollbar-thumb {
    background: #374151;
}

.dark .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}

.dark .scrollbar {
    scrollbar-color: #374151 transparent;
}